nav {
  height: 95%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 20px;
  margin: 20px;
}

.nav__btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 36px;
  background-color: #e9e9ed;
  height: 36px;
  width: 36px;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
}

.nav__btn-close:hover {
  background-color: #b8b8bc;
  cursor: pointer;
}

.nav-open {
  width: 400px;
}

.nav__linkContainer {
  width: 80%;
  margin: 80px auto;
  overflow-y: auto;
}

@media screen and (max-height: 450px) {
  nav {height: 90%;}
  .sidenav a {font-size: 18px;}
}